<div class="container">
    <div class="card">
      <div class="card-header text-center"><h3>Calculator</h3></div>
      <div class="form-group d-flex flex-row">
        <input [(ngModel)]='num1' type="number" name="num1"  class="form-control">
        <input [(ngModel)]='num2' type="number" name="num2" class="form-control">
        </div>
        <p>


        </p>
        <div class="d-flex flex-row justify-content-between">
          <button class="btn btn-success" (click)="addition()" >SUM</button>
           
          <button class="btn btn-primary" (click)="sub()" >SUBTRACT</button>
            
          <button class="btn btn-danger" (click)="multi()" >MULTIPLY</button>
            <button class="btn btn-warning" (click)="divide()" >DIVIDE</button>
          </div>
    </div>
    <div class="card-footer text-center">
        <h4>Result : {{result}} </h4>
    </div>
    
    </div>